<h1>Connect with  Artists!</h1>

<ol>
@foreach (Classification classification in Model)
{
    @* <ul>

        <li>Name: @classification.ClassificationName</li>
        <li>Specification: @classification.ClassificationSpecification</li>
    </ul>  *@
    <p>@Html.ActionLink("Find Singers", "Index", "Artists")</p>
    <p>@Html.ActionLink("Find Photographers", "Index", "Artists")</p>
    <p>@Html.ActionLink("Find Fashion Designers", "Index", "Artists")</p>
    <p>@Html.ActionLink("Find Producers", "Index", "Artists")</p>
    <p>@Html.ActionLink("Find Videographers", "Index", "Artists")</p>
    <p>@Html.ActionLink("Find Painters", "Index", "Artists")</p>
    <p>@Html.ActionLink("Find Graphic Designers", "Index", "Artists")</p>
    <p>@Html.ActionLink("Find Dancers", "Index", "Artists")</p>
    <p>@Html.ActionLink("Browse all artists", "Index", "Artists")</p>






    <br>
}
</ol>